{% load item_status_select %}

<tr id="item-table-row-{{ instance.id }}">
    <th scope="row" class="px-6 py-4 font-medium text-white whitespace-nowrap dark:text-gray-900">
        <input 
            type="text" 
            name="title" 
            hx-patch="{{ instance.get_edit_url }}"
            hx-trigger="keyup changed delay:1s"
            hx-target="#item-table-row-{{ instance.id }}"
            hx-swap="outerHTML"
            value="{{ instance.title }}"
            class="focus:border-blue-500 focus:ring-2 focus:ring-blue-500 border  rounded-lg p-2 w-full bg-gray-700 text-white"
            placeholder="Enter item title"
        />
    </th>
    <td class="px-6 py-4">
        <div class="relative">
            {% item_status_select instance %}
        </div>
    </td>
    <td class="px-6 py-4 text-gray-600 dark:text-gray-400">
        {{ instance.updated|timesince }} ago
    </td>
    <td class="px-6 py-4 flex space-x-2">
        <a href="{{ instance.get_absolute_url }}" class="text-blue-600 hover:text-blue-800">View</a>
        <button 
            hx-confirm="Are you sure you want to delete this?"
            hx-post="{{ instance.get_delete_url }}"
            class="bg-red-600 text-white hover:bg-red-700 focus:ring-4 focus:ring-red-300 rounded-lg px-3 py-1"
        >
            Delete
        </button>
    </td>
  </tr>