{% if messages %}
<ul class="space-y-2">
    {% for message in messages %}
    <li class="p-4 text-sm rounded-lg 
        {% if message.tags %} {{ message.tags }} {% endif %} 
        {% if message.tags == 'error' %} bg-red-100 text-red-800 dark:bg-red-900 dark:text-red-300 {% elif message.tags == 'success' %} bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-300 {% elif message.tags == 'info' %} bg-blue-100 text-blue-800 dark:bg-blue-900 dark:text-blue-300 {% endif %}">
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
